@import form/form

input
  height: 44px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  border: 1px solid #b3b3b3
  margin-top: 14px
  padding-right: 10px
  padding-left: 10px

// Change the look'n'feel of labels (which are adjacent to radiobuttons).
//Add some margin, padding to label
input[type=radio]
  display: none;
  & + label
    display:inline-block
    margin-top:14px
    padding: 6px
    background-color: #eee
    text-align: center
    border-radius: 3px
    cursor: pointer
  &:checked + label
    background-color: #ddd


