input
  height: 44px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  border: 1px solid #b3b3b3
  margin-top: 14px

input:nth-child(2)
  margin-top: 0

.form-full-width
  width: 100%
