<div class="admin-dashboard">
    <img class="logo-svg" src="../img/Smooth_Giving_Logo.svg" alt="Smooth Giving Logo"/>
    <menu class="admin-panel">
        <ul class="dashboard-menu">
            <li class="dashboard-selection">
                <a data-ng-click="donorPage()" class="icon-users dashboard-btn">DONORS</a>
            </li>
            <li class="dashboard-selection">
                <a data-ng-click="reportsPage()" class="icon-bars2 dashboard-btn">REPORTS</a>
            </li>
            <li class="dashboard-selection">
                <a href="#" class="icon-cog dashboard-btn">SETTINGS</a>
            </li>
        </ul>
    </menu>
    <div class="logout">
        <button class="btn btn-primary">Log Out</button>
    </div>
</div>