<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Smooth Giving App</title>
    </head>
    <body>
        <h2>Hello Frodo HBS</h2>
        {{#if message.length}}
            {{message}}
        {{/if}}
        <form action="/" method="post">
            <label>Donation Amount</label>
            <input type="text" name="donationAmount"><br>
            <label>first name</label>
            <input type="text" name="fName"><br>
            <label>last name</label>
            <input type="text" name="lName"><br>
            <label>address</label>
            <input type="text" name="address"><br>
            <label>city</label>
            <input type="text" name="city"><br>
            <label>state</label>
            <input type="text" name="state"><br>
            <label>zipcode</label>
            <input type="text" name="zipcode"><br>
            <label>phone</label>
            <input type="text" name="phone"><br>
            <label>email</label>
            <input type="text" name="email"><br>

            <input type="hidden" name="created">


            <button type="submit">Donate</button>
        </form>


        <script data-main="public.js" src="require.js"></script>
    </body>
</html>