<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatable" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin Login</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="admin-login">
            <img class="logo-svg" src="../img/Smooth_Giving_Logo.svg" alt="Smooth Giving Logo"/>
            {{#if message.length}}
                {{message}}
            {{/if}}
            <form action="/login" method="post" class="admin-login-form">
                <fieldset>
                    <legend class="admin-legend">Admin Login</legend>
                    <input type="text" name="email" class="full-width" placeholder="Email">

                    <input type="password" name="password" class="full-width" placeholder="Password">
                </fieldset>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div class="password-reset"> Forgot <a href="#">Password</a>?</div>
        </div>
<!-- end .admin-login -->
        <script src="public.js"></script>
    </body>
</html>