body {
  font-size: 1em;
  font-family: san-serif; }

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 2.75em;
  color: #FFFFFF;
  width: 100%;
  border: none;
  margin-top: 1em;
  font-size: 1em;
  font-weight: bold; }

.btn-primary {
  background: #3EA9F5; }
.btn-secondary {
  background: #999999; }
