//For the search and sort tab
.option-group
  width: 100%
  margin: 0 auto

.profile-img
  margin: 0 auto
  width: 70px
  height: 70px
  border-radius: 50%
  border: 3px #ddd solid
  overflow: hidden

//For donor information
.donor-item
  border-bottom: 1px #eee solid
  cursor: pointer
  display: block
  padding: 1em
  &:nth-child(2n+1)
    background-color: #eee
  &:hover
    background-color: darken(#eee, 5%)
  .h4
    margin-top: 0.618em
    color: #555

.info
  margin: 0 auto

//For side nav
.side-nav-list li
  display: block
  padding: 1em 0.618em
  border-bottom: 1px solid
