<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Smooth Giving App</title>
    </head>
    <body>
        <h2>Hello Admin</h2>
        <a href="/logout">Logout</a>
        <div data-ng-controller="SmoothCtrl">
            <ul>
                <li data-ng-repeat="donor in donors">{{donor.fName}}</li>
            </ul>
        </div>

        <script data-main="public.js" src="require.js"></script>
    </body>
</html>