//Mixins to generate btn of different colors and different state
@mixin buttoncss($btn-style){
  @each $style in $btn-style{
    $key: nth($style, 1);
    $value: nth($style, 2);

    &-#{$key}{
      background: $value;
    }
  }
}
