
<<<<<<< HEAD
.admin-login
  @include outer-container
  position: absolute
  left: 50%
  top: 50%
  -webkit-transform: translate(-50%, -50%)
  -moz-transform: translate(-50%, -50%)
  -ms-transform: translate(-50%, -50%)
  -o-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)

.admin-legend
  display:none
=======
>>>>>>> 69fd7ee790bb8d800ef3fc33413a45da890b610e

.logo-svg
  display:block
  margin:10% auto
